@charset "UTF-8";.psup-text-blue-france{color:var(--blue-france-sun-113-625)}.psup-text-blue-cumulus{color:var(--blue-cumulus-main-526)}.psup-text-yellow-moutarde{color:var(--yellow-moutarde-main-679)}.psup-text-green-emeraude{color:var(--green-emeraude-main-632)}.psup-text-green-archipel{color:var(--green-archipel-main-557)}.psup-text-purple-glycine{color:var(--purple-glycine-main-494)}.psup-text-pink-tuile{color:var(--pink-tuile-main-556)}.psup-text-pink-macaron{color:var(--pink-macaron-main-689)}.psup-text-orange-terre-battue{color:var(--orange-terre-battue-main-645)}.psup-text-disabled-grey{color:var(--text-disabled-grey)}.psup-text-mention-grey{color:var(--text-mention-grey)}#psup-user-menu [class*=" fr-icon-"]::before{--icon-size:1rem;margin-right:.25rem}#psup-user-menu p{padding:1rem;text-align:left;font-size:.875rem;color:var(--text-mention-grey)}.fr-translate__btn::before{mask-image:url(dsfr/dist/icons/user/account-circle-line.svg)!important;-webkit-mask-image:url(dsfr/dist/icons/user/account-circle-line.svg)!important}.word-wrap-break-word,.word-wrap-break-word p{word-wrap:break-word!important}.word-break-keep-all{word-break:keep-all!important}.word-break-break-all{word-break:break-all!important}.word-break-break-word{word-break:break-word!important}.toast-notification{position:fixed!important;right:1rem;bottom:1rem;background-color:var(--background-default-grey);max-width:min(50rem,calc(100vw - 2rem));z-index:2}.cadre-classique #psup-loader .psup-loader-cadre{background-color:var(--background-default-grey)}.bt-spinner{width:75px;height:75px;border-radius:50%;background-color:transparent;border:4px solid #fff;outline:2px solid var(--background-action-high-blue-france);border-top-color:var(--background-action-high-blue-france);-webkit-animation:1s spin linear infinite;animation:1s spin linear infinite}
-webkit-@keyframes spin {
  -webkit-from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  -webkit-to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
footer .fr-responsive-img,header .fr-header__service img{width:13.5rem}